<%= render partial: "chart.js" %>

<h1> Welcome to Fuel Finder!</h1>

<!--rails helper "select_tag" and us_states coming from helper method
  see: http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html-->
<%= select_tag :state, options_for_select(us_states) %>

<div id="container" style="width: 800px; height: 600px; margin: 0 auto"></div>
