body {
  background-color: #F2F2F2;
}

#container {
  width:  1000px;
  height: 670px;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  position: absolute;
  top: 1px;
  right: 1px;
}

#titleheader {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  border: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  padding: 5px;
  width: 250px;
  position: absolute;
  top: 45px;
}

#titletext {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

#stateselect {
  height: 100px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  width: 220px;
  padding: 10px;
  position: absolute;
  top: 200px;
  left: 25px;
}

.dropdown {
   border: 0;
   color: #F2F2F2;
   font-size: 16px;
   font-weight: bold;
   width: 200px;
   padding: 2px 10px;
   background: #353537
}

